/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*FIN DEL RESET */

p,
a,
li {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 0.7rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

.main-container {
  width: 75vw;
  margin: 0 auto;
}

.pre-header {
  padding: 0.5rem 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 0.25rem;
  overflow: hidden;
}

.pre-header > li {
  font-size: 0.6rem;
  text-decoration: none;
  padding: 0 0.5rem;
  border-right: 1px solid rgb(175, 175, 175);
  white-space: nowrap;
}

.pre-header > li > a {
  color: rgb(175, 175, 175);
}

a {
  text-decoration: none;
  color: black;
}

.logo-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: 600;
  padding: 0.5rem 0;
}

.logo {
  align-self: center;
}

.logo > img {
  max-width: 250px;
}

.iniciate-session {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.iniciate-session > img {
  max-width: 80px;
  height: auto;
  justify-self: flex-start;
}

.iniciate-session > p {
  border-right: 1px solid rgb(175, 175, 175);
  padding: 0 0.5rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 1.5rem 1.5rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content > ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 1rem;
  gap: 1.3rem;
  max-height: 380px;
}

.dropdown-content a {
  color: black;
  font-family: "Merriweather", serif;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  margin: 0 0.5rem;
}

.dropdown-content a:hover {
  color: grey;
}

.dropdown menu {
  margin-right: 0;
}
/*Muestra el menu cuando se hace hover*/
.dropdown:hover .dropdown-content {
  display: block;
}

.header-menu {
  padding: 0.8rem 0;
  font-size: 0.8rem;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.header-menu > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  white-space: nowrap;
}

.menu-with-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.mobile-menu {
  display: none;
}

.publicity {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.publicity-text {
  color: grey;
  font-size: 0.6rem;
  text-transform: uppercase;
  text-align: center;
}
.publicity-image {
  background-image: url("./images/publicidad.jpeg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.direct {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 1rem 0;
}

.bold {
  font-weight: 600;
}

.direct > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.direct a {
  font-size: 0.8rem;
  font-weight: 600;
}

.direct-color {
  color: red;
  text-transform: uppercase;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  top: 0;
}

.news-block-1 {
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  grid-template-rows: auto;
  grid-template-areas: "left main right";
  margin: 1rem 0;
  padding: 2rem 0;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  gap: 1rem;
}

.news-block-2 {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: "left-2 news right-2";
  padding: 2rem 0;
  border-bottom: 2px solid black;

  gap: 1rem;
}

.news-block-1 > div,
.news-block-2 > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.news-block-1 p {
  font-size: 0.7rem;
  line-height: 1.3;
}

.author-location-comments {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.author-location-comments p {
  font-size: 0.6rem;
}
.left-1 {
  grid-area: left;
}

.left-2 {
  grid-area: left-2;
}

.news {
  grid-area: news;
}

.right-1 {
  grid-area: right;
}

.right-2 {
  grid-area: right-2;
}
.column-block {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
}

.main-1 {
  grid-area: main;
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding: 0 1rem;
}

.main-1 > div > img {
  width: 100%;
}

h1 {
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1.3;
}

h2 {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.2;
}

span {
  color: #3f6c99;
}

i {
  margin: 0 0.2rem;
}

.uppercase {
  text-transform: uppercase;
}

.text-and-image {
  display: grid;
  grid-template-columns: 2fr auto;
  grid-template-rows: auto;
}

.small-image > img {
  width: 70px;
  height: auto;
  justify-self: end;
}

div .no-border {
  border-bottom: none;
}

.width-100 {
  width: 100%;
}

.actualidad {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
}
@media (max-width: 800px) {
  .logo-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .iniciate-session {
    display: none;
  }

  .header-menu > ul {
    display: none;
  }
  .mobile-menu {
    display: flex;
    justify-content: space-between;
  }

  .publicity {
    justify-content: flex-start;
    height: 150px;
  }

  .publicity-image {
    background-size: contain;
    background-repeat: no-repeat;
  }

  .direct {
    padding: 0 0;
  }
  .direct a {
    font-size: 0.5rem;
  }

  .news-block-1 {
    padding: 0 0;
    display: block;
  }

  .left-1 {
    margin: 2rem 0;
    gap: 2rem;
  }

  .right-1 {
    margin: 2rem 0;
    gap: 2rem;
  }
  .main-1 {
    border-left: none;
    border-right: none;
    padding: 0 0;
    margin: 2rem 0;
    border-bottom: 1px solid black;
  }
}
